server 
{
    listen 80;
    server_name $KIBANA_DOMAIN;

    location / {
        proxy_pass http://kibana:5601;
    }
}

server 
{
	listen 80;
	server_name $APP_DOMAIN;

	location / {
		proxy_pass http://coreframework:80;
	}
}